@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

:root {
  --mobile-width: 375px;
  --desktop-width: 1440px;

  --primary-input-color: linear-gradient(
    hsl(249, 99%, 64%),
    hsl(278, 94%, 30%)
  );
  --primary-error-color: hsl(0, 100%, 66%);

  --neutral-white: hsl(0, 0%, 100%);
  --neutral-light-grayish-violet: hsl(270, 3%, 87%);
  --neutral-dark-grayish-violet: hsl(279, 6%, 55%);
  --neutral-very-dark-violet: hsl(278, 68%, 11%);

  --body-copy-font-size: 18px;
}

* {
  font-family: Space Grotesk;
  margin: 0;
  padding: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
